version: '3.8'

services:

  prometheus:
    image: prom/prometheus
    ports:
      - "4997:9090" # Host:Container
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "4996:3000" # Host:Container
